# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
comics-config.yaml
test/.test_coverage.dart
reports/
coverage/
coverage_badge.svg
get-comics
bin/get_comics.exe
get-comics-x86-64
.local-chrome
